--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: api_provider; Type: TABLE; Schema: public; Owner: mmunin
--

CREATE TABLE public.api_provider (
    id integer NOT NULL,
    name text NOT NULL,
    is_internal boolean DEFAULT false
);


ALTER TABLE public.api_provider OWNER TO mmunin;

--
-- Name: api_provider_id_seq; Type: SEQUENCE; Schema: public; Owner: mmunin
--

CREATE SEQUENCE public.api_provider_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.api_provider_id_seq OWNER TO mmunin;

--
-- Name: api_provider_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mmunin
--

ALTER SEQUENCE public.api_provider_id_seq OWNED BY public.api_provider.id;


--
-- Name: data_interface; Type: TABLE; Schema: public; Owner: mmunin
--

CREATE TABLE public.data_interface (
    id integer NOT NULL,
    name text NOT NULL,
    protocol text,
    provider_id integer NOT NULL,
    is_internal boolean DEFAULT false,
    description text,
    CONSTRAINT data_interface_protocol_check CHECK ((protocol = ANY (ARRAY['Modbus'::text, 'DNP3'::text, 'SEL'::text, 'Other'::text])))
);


ALTER TABLE public.data_interface OWNER TO mmunin;

--
-- Name: data_interface_id_seq; Type: SEQUENCE; Schema: public; Owner: mmunin
--

CREATE SEQUENCE public.data_interface_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.data_interface_id_seq OWNER TO mmunin;

--
-- Name: data_interface_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mmunin
--

ALTER SEQUENCE public.data_interface_id_seq OWNED BY public.data_interface.id;


--
-- Name: map_point; Type: TABLE; Schema: public; Owner: mmunin
--

CREATE TABLE public.map_point (
    id integer NOT NULL,
    version_id integer NOT NULL,
    point_name text NOT NULL,
    object_name text NOT NULL,
    register text NOT NULL,
    data_type text NOT NULL,
    bit_offset text,
    units text,
    scale real,
    alarm_state text,
    on_state text,
    off_state text,
    alarm_limits text,
    alarm_profile text,
    enumeration_table text,
    comments text
);


ALTER TABLE public.map_point OWNER TO mmunin;

--
-- Name: map_point_id_seq; Type: SEQUENCE; Schema: public; Owner: mmunin
--

CREATE SEQUENCE public.map_point_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.map_point_id_seq OWNER TO mmunin;

--
-- Name: map_point_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mmunin
--

ALTER SEQUENCE public.map_point_id_seq OWNED BY public.map_point.id;


--
-- Name: map_version; Type: TABLE; Schema: public; Owner: mmunin
--

CREATE TABLE public.map_version (
    id integer NOT NULL,
    interface_id integer NOT NULL,
    version text NOT NULL,
    release_date date,
    changelog text
);


ALTER TABLE public.map_version OWNER TO mmunin;

--
-- Name: map_version_id_seq; Type: SEQUENCE; Schema: public; Owner: mmunin
--

CREATE SEQUENCE public.map_version_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.map_version_id_seq OWNER TO mmunin;

--
-- Name: map_version_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mmunin
--

ALTER SEQUENCE public.map_version_id_seq OWNED BY public.map_version.id;


--
-- Name: project; Type: TABLE; Schema: public; Owner: mmunin
--

CREATE TABLE public.project (
    id integer NOT NULL,
    name text NOT NULL,
    location text,
    notes text
);


ALTER TABLE public.project OWNER TO mmunin;

--
-- Name: project_id_seq; Type: SEQUENCE; Schema: public; Owner: mmunin
--

CREATE SEQUENCE public.project_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.project_id_seq OWNER TO mmunin;

--
-- Name: project_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mmunin
--

ALTER SEQUENCE public.project_id_seq OWNED BY public.project.id;


--
-- Name: project_map_usage; Type: TABLE; Schema: public; Owner: mmunin
--

CREATE TABLE public.project_map_usage (
    id integer NOT NULL,
    project_id integer NOT NULL,
    interface_id integer NOT NULL,
    version_id integer NOT NULL,
    notes text
);


ALTER TABLE public.project_map_usage OWNER TO mmunin;

--
-- Name: project_map_usage_id_seq; Type: SEQUENCE; Schema: public; Owner: mmunin
--

CREATE SEQUENCE public.project_map_usage_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.project_map_usage_id_seq OWNER TO mmunin;

--
-- Name: project_map_usage_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: mmunin
--

ALTER SEQUENCE public.project_map_usage_id_seq OWNED BY public.project_map_usage.id;


--
-- Name: api_provider id; Type: DEFAULT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.api_provider ALTER COLUMN id SET DEFAULT nextval('public.api_provider_id_seq'::regclass);


--
-- Name: data_interface id; Type: DEFAULT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.data_interface ALTER COLUMN id SET DEFAULT nextval('public.data_interface_id_seq'::regclass);


--
-- Name: map_point id; Type: DEFAULT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.map_point ALTER COLUMN id SET DEFAULT nextval('public.map_point_id_seq'::regclass);


--
-- Name: map_version id; Type: DEFAULT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.map_version ALTER COLUMN id SET DEFAULT nextval('public.map_version_id_seq'::regclass);


--
-- Name: project id; Type: DEFAULT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.project ALTER COLUMN id SET DEFAULT nextval('public.project_id_seq'::regclass);


--
-- Name: project_map_usage id; Type: DEFAULT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.project_map_usage ALTER COLUMN id SET DEFAULT nextval('public.project_map_usage_id_seq'::regclass);


--
-- Data for Name: api_provider; Type: TABLE DATA; Schema: public; Owner: mmunin
--

COPY public.api_provider (id, name, is_internal) FROM stdin;
2	CEG	t
18	Nexttracker	f
17	Nevados	f
6	Groundwork	f
4	Sungrow	f
\.


--
-- Data for Name: data_interface; Type: TABLE DATA; Schema: public; Owner: mmunin
--



--
-- Data for Name: map_point; Type: TABLE DATA; Schema: public; Owner: mmunin
--



--
-- Data for Name: map_version; Type: TABLE DATA; Schema: public; Owner: mmunin
--

COPY public.map_version (id, interface_id, version, release_date, changelog) FROM stdin;
1	1	unversioned	\N	\N
2	2	unversioned	\N	\N
3	3	unversioned	\N	\N
4	4	unversioned	\N	\N
5	5	unversioned	\N	\N
6	6	unversioned	\N	\N
7	7	unversioned	\N	\N
8	8	unversioned	\N	\N
9	9	unversioned	\N	\N
10	10	unversioned	\N	\N
11	11	unversioned	\N	\N
12	12	unversioned	\N	\N
13	13	unversioned	\N	\N
14	14	unversioned	\N	\N
15	15	unversioned	\N	\N
\.


--
-- Data for Name: project; Type: TABLE DATA; Schema: public; Owner: mmunin
--

COPY public.project (id, name, location, notes) FROM stdin;
\.


--
-- Data for Name: project_map_usage; Type: TABLE DATA; Schema: public; Owner: mmunin
--

COPY public.project_map_usage (id, project_id, interface_id, version_id, notes) FROM stdin;
\.


--
-- Name: api_provider_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mmunin
--

SELECT pg_catalog.setval('public.api_provider_id_seq', 18, true);


--
-- Name: data_interface_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mmunin
--

SELECT pg_catalog.setval('public.data_interface_id_seq', 15, true);


--
-- Name: map_point_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mmunin
--

SELECT pg_catalog.setval('public.map_point_id_seq', 4220, true);


--
-- Name: map_version_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mmunin
--

SELECT pg_catalog.setval('public.map_version_id_seq', 15, true);


--
-- Name: project_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mmunin
--

SELECT pg_catalog.setval('public.project_id_seq', 1, false);


--
-- Name: project_map_usage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mmunin
--

SELECT pg_catalog.setval('public.project_map_usage_id_seq', 1, false);


--
-- Name: api_provider api_provider_name_key; Type: CONSTRAINT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.api_provider
    ADD CONSTRAINT api_provider_name_key UNIQUE (name);


--
-- Name: api_provider api_provider_pkey; Type: CONSTRAINT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.api_provider
    ADD CONSTRAINT api_provider_pkey PRIMARY KEY (id);


--
-- Name: data_interface data_interface_name_key; Type: CONSTRAINT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.data_interface
    ADD CONSTRAINT data_interface_name_key UNIQUE (name);


--
-- Name: data_interface data_interface_pkey; Type: CONSTRAINT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.data_interface
    ADD CONSTRAINT data_interface_pkey PRIMARY KEY (id);


--
-- Name: map_point map_point_pkey; Type: CONSTRAINT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.map_point
    ADD CONSTRAINT map_point_pkey PRIMARY KEY (id);


--
-- Name: map_version map_version_interface_id_version_key; Type: CONSTRAINT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.map_version
    ADD CONSTRAINT map_version_interface_id_version_key UNIQUE (interface_id, version);


--
-- Name: map_version map_version_pkey; Type: CONSTRAINT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.map_version
    ADD CONSTRAINT map_version_pkey PRIMARY KEY (id);


--
-- Name: project_map_usage project_map_usage_pkey; Type: CONSTRAINT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.project_map_usage
    ADD CONSTRAINT project_map_usage_pkey PRIMARY KEY (id);


--
-- Name: project project_pkey; Type: CONSTRAINT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.project
    ADD CONSTRAINT project_pkey PRIMARY KEY (id);


--
-- Name: data_interface data_interface_provider_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.data_interface
    ADD CONSTRAINT data_interface_provider_id_fkey FOREIGN KEY (provider_id) REFERENCES public.api_provider(id);


--
-- Name: map_point map_point_version_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.map_point
    ADD CONSTRAINT map_point_version_id_fkey FOREIGN KEY (version_id) REFERENCES public.map_version(id) ON DELETE CASCADE;


--
-- Name: map_version map_version_interface_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.map_version
    ADD CONSTRAINT map_version_interface_id_fkey FOREIGN KEY (interface_id) REFERENCES public.data_interface(id) ON DELETE CASCADE;


--
-- Name: project_map_usage project_map_usage_interface_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.project_map_usage
    ADD CONSTRAINT project_map_usage_interface_id_fkey FOREIGN KEY (interface_id) REFERENCES public.data_interface(id);


--
-- Name: project_map_usage project_map_usage_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.project_map_usage
    ADD CONSTRAINT project_map_usage_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.project(id);


--
-- Name: project_map_usage project_map_usage_version_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: mmunin
--

ALTER TABLE ONLY public.project_map_usage
    ADD CONSTRAINT project_map_usage_version_id_fkey FOREIGN KEY (version_id) REFERENCES public.map_version(id);


--
-- PostgreSQL database dump complete
--

